@media (min-width: 1200px) {
    .container{
        max-width: 1330px;
    }
}

@media (max-width: 1300px) {
    .bestsellers-box{
        margin-left: 38px;
    }
}
@media (max-width: 1200px) {
    .header-main {
        padding: 22px 0 20px;
    }
    .content-collection{
        max-height: 111px;
    }
    .content-mainWrapper__slider .slick-slide img{
        height: 240px;
    }
    .content-mainWrapper__slider-content:before{
        height: 95px;
    }
    .content-mainWrapper__text{
        padding: 9px 48px 31px;
        font-size: 22px;
    }
    .content-collection__text{
        font-size: 17px;
        padding: 15px;
    }
    .content-collection:before{
        height: 50px;
    }
    .content .new-books .slick-slide.slick-active{
        margin: 11px 0 11px 35px;
    }

    .content .new-books .slick-slide.slick-current{
        margin: 11px 35px 11px 0;
    }
    .footer-subBlock{
        margin-right: 100px;
    }
    .bestsellers-box{
        margin-left: 38px;
    }
    .bestsellers {
        padding: 40px 0 110px;
    }
    .bestsellers__slider .slick-arrow{
        bottom: -85px;
    }
    .content:nth-child(2) .new-books:nth-child(1) {
        margin: 24px 5px 23px;
    }
}
@media (max-width: 992px){
    .sidebar-img1{
        display: none;
    }
    .news{
        display: none;
    }
    .content-mainWrapper{
        margin-left: -300px;
    }
    .content .new-books{
        margin: 0 5px 16px -300px;
    }
    .content .new-books-card{
        max-width: 210px;
    }
    .content .new-books .slick-slide.slick-current {
        margin: 11px 0 11px 0;
    }
    .content .new-books .slick-slide.slick-active{
        margin: 11px 0 11px 0;
    }
    .content .new-books:nth-child(5){
        margin: 0 5px 29px -300px;
    }
    .bestsellers-box {
        margin-left: 60px;
    }
    .sidebar-img2{
        display: none;
    }
    .content:nth-child(2) .new-books:nth-child(1){
        margin: 20px 5px 29px -300px;
    }
    .content:nth-child(2) .new-books:nth-child(2){
        margin: 0 5px 29px -300px;
    }
    .header-info__menu-items {
        margin-right: 55px;
    }
    .header-info{
        padding: 12px 0;
    }
    .header-main__logo img {
        margin: 0 50px 0 0;
    }
    .header-main {
        padding: 18px 0 18px;
    }
    .header-main-block{
        margin-left: 50px;
    }
    .books__title{
        font-size: 25px;
        line-height: 25px;
    }
    .bestsellers__title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 30px -8px;
}
    .catalog__text{
        display: none;
    }
    .content-nav{
        margin-left: -237px;
        padding: 20px;
    }
    .content-nav__item{
        margin-right: 20px;
    }

}
